ai/n8n-agents/gmail_assistant.json
{
  "name": "gmail-assistant",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        140
      ],
      "id": "bb0a08ee-5153-4f92-8ff5-1fbb39f090cd",
      "name": "When chat message received",
      "webhookId": "b57788d1-0bdd-4ead-a898-0fc722b97ae0"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a personal assistant who helps ansswer questions about the user emails, helping the user to always know what's going on. Don't ever make things up, respond only with information provided by the email contents."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -580,
        120
      ],
      "id": "0543fbe0-ecb8-4fa5-be5b-28838c83a447",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -480,
        340
      ],
      "id": "6f7f0802-b897-440f-93f5-cfd8ae7c577b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "muaGbpxpCyj5raKl",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "name": "user_emails",
        "description": "Contains all the user's emails that you can check for context to answer user questions.",
        "topK": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        140,
        80
      ],
      "id": "46c77cec-56b9-448a-868c-4fedb3256567",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        20,
        240
      ],
      "id": "54390e9d-cae4-49ec-995f-a0fbd8db12d8",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "YydZXExp5nauA6xM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        400
      ],
      "id": "dc978c26-8608-40a8-b9d6-0e53ccd97c2b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TsmycfElyIxvrbQ0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -620,
        340
      ],
      "id": "9ee16bd3-dd09-4463-91df-14ae70e5d564",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TsmycfElyIxvrbQ0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        300
      ],
      "id": "22808054-145e-42a9-b39c-95c9bfd4d402",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "TsmycfElyIxvrbQ0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Workflow Entrypoint",
        "height": 460,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -860,
        40
      ],
      "id": "6d206976-a4cf-423e-9988-1ab2534edd98",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## RAG Layer",
        "height": 540,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4edc3232-1011-4e4d-bf77-27398f3ae667",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "filters": {
          "includeSpamTrash": false,
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -860,
        680
      ],
      "id": "83fdb2c6-8272-416a-bba9-439b6c6e68d3",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "RfJJnP0DVdg7RI00",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        -600,
        680
      ],
      "id": "658e05d1-2027-4bcc-a6da-b9424afad0c8",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "YydZXExp5nauA6xM",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -640,
        920
      ],
      "id": "68ad6d51-db64-414b-b1d9-57b4ead483b3",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "TsmycfElyIxvrbQ0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.snippet }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "email_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "thread_id",
                "value": "={{ $json.threadId }}"
              },
              {
                "name": "date",
                "value": "={{ $json.internalDate }}"
              },
              {
                "name": "history_id",
                "value": "={{ $json.historyId }}"
              },
              {
                "name": "from",
                "value": "={{ $json.From }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -480,
        920
      ],
      "id": "8427717e-2910-4e62-972e-c09c94e193e6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -480,
        1120
      ],
      "id": "505b2dd9-0964-44ad-bf99-e78b9351f2e0",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "082446a6-4fdb-4ee6-b33c-e6efcb67d361",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b957fbc64f7918356e4eff7fe259d0c2aeba33c1b1894edbe69a1b3158c296d1"
  },
  "id": "p2EfML8uOEIOc9ED",
  "tags": []
}